<div class="fail-wrapper message-wrapper">
  <h2 class="fail-message"></h2>
</div>

<div class="now-playing hidden">
  <marquee scrollamount="4"></marquee>
  <div class="message">Click to hide</div>
</div>

<div id="wrapper">
{{partial(messages) "message"}}
</div>

</div>

<script>
  if(!window.App){ window.App = {}; }
  window.App.JenkinsBootstrap = [
    {{each(i, status) statuses}}
      {
        project: "${project}",
        status: "${status}"
      },
    {{/each}}
  ]
  window.App.songsEnabled = ${songsEnabled};
</script>