<!doctype html>
<html>
<head>
  <title>${title}</title>
  <link rel="stylesheet" href="/stylesheets/application.css" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
{{html body}}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script src='/socket.io/socket.io.js'></script>
<script src='/javascripts/health.js'></script>
<script src='/javascripts/songs.js'></script>
<script src='/javascripts/vendor/moment.min.js'></script>
<script src='/javascripts/application.js'></script>
</body>
</html>

